<mat-card class="customer-card" *ngIf="customer != null">
  <mat-card-content>
    <h2>Customer Details</h2>
    <div class="detail-row" *ngIf="customer.firstName">
      <label>First Name:</label>
      <span>{{ customer.firstName }}</span>
      <div class="edit-delete-links">
        <a  (click)="openDialog()">Edit</a>
      </div>
    </div>
    <div  class="detail-row" *ngIf="customer.lastName">
      <label>Last Name:</label>
      <span>{{ customer.lastName }}</span>
      <div class="edit-delete-links">
        <a href="#" (click)="openDialog()">Edit</a>
      </div>
    </div>
    <div class="detail-row" *ngIf="customer.city">
      <label>City:</label>
      <span>{{ customer.city }}</span>
      <div class="edit-delete-links">
        <a href="#" (click)="openDialog()">Edit</a>
      </div>
    </div>
    <div class="detail-row" *ngIf="customer.houseNumber">
      <label>House Number:</label>
      <span>{{ customer.houseNumber }}</span>
      <div class="edit-delete-links">
        <a href="#" (click)="openDialog()">Edit</a>
      </div>
    </div>
    <div class="detail-row" *ngIf="customer.zipCode">
      <label>Zip Code:</label>
      <span>{{ customer.zipCode }}</span>
      <div class="edit-delete-links">
        <a href="#" (click)="openDialog()">Edit</a>
      </div>
    </div>
    <div class="detail-row" *ngIf="customer.street">
      <label>Street:</label>
      <span>{{ customer.street }}</span>
      <div class="edit-delete-links">
        <a href="#" (click)="openDialog()" >Edit</a>
      </div>
    </div>
    <div class="contacts mt-2" *ngIf="customer.contracts != null && customer.contracts.length > 0">
      <h3 class="contracts-title">Contracts:</h3>
      <div class="contract-items">
        <div class="contract-item" *ngFor="let contract of customer.contracts;let i = index;">
          <span class="contract-index">{{ i + 1 }}</span>
          <app-contract [contract]="contract"></app-contract>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
